@import 'longform-styles';
@import 'philly-styles/values';

.hide-on-mobile {
  @include tablet {
  display: none;
}
}

.hide-on-desktop {

  display: none;

  @include tablet {
  display: block;
}
}

.h3_subhead {
  border-bottom: 5px solid $vietnam-yellow;
  margin-bottom: 15px;
  display:inline-block;
}


.sourcebox {
  background-color: #eee;
  padding-top:20px;
}
.sourcebox h4 {
    color: #000;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Gotham Narrow,Arial,sans-serif;
}
.sourcebox p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}



.map-gradient-box {
  width: 100%;
  position: absolute;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#00ffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.letter-click {
  background-color: #fff;
  box-shadow: 1.5px 0 0 #fff, -1.5px 0 0 #fff;
  padding: 1px 3px;
  cursor: pointer;
  font-weight: 700;
  background-color: rgba(219, 203, 135, 0.7);
}

.letter-click:hover {
  opacity: 1;
  background-color: rgba(219, 203, 135, 1);
}

.letters, .dod {
  display: none;
}
//

.sidebar-container {
  background-color: #fff;
  padding: 5px 10px 1px;
  margin-bottom: 15px;
  border-top: 5px solid $vietnam-yellow;
  border-bottom: 5px solid $vietnam-yellow;
}

.sidebar-container:hover {
  opacity: 0.9;
}

.sidebar-container a:-webkit-any-link {
    color: #444;
    cursor: pointer;
    text-decoration: none !important;
}

.sidebar-container a:-webkit-any-link:hover {
  text-decoration: none;
}

.sidebar-container a span {
  color:$vietnam-yellow;
}

.sidebar-container h3 {
  line-height: 1.1;
    padding-bottom: 10px;

}
.sidebar-container p {
  line-height: 1.2;
  font-size: 14px;
  font-family: $philly-sans;
}

.topCol {
  border-top: 5px solid $vietnam-yellow;
  padding-top: 40px;
@include tablet {
  border-top: none;
  padding-top: 50px;
};
}

.hangRight {
  position: relative;
  height: auto;
  display: inline-block;
  float: right;
  margin-left: 20px;
  // max-width: 60%;
  @include tablet {
    max-width: 55%;
  };
  @include mobile {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
  };
  @include BS-medium {
    height: auto;
    left: 100px;
    margin-left: -100px;
    width: 100%;
    max-width: none;
  };
}

.hangLeft {
  position: relative;
  height: auto;
  display: inline-block;
  float: left;
  // max-width: 60%;
  @include mobile {
    margin: 0;
    padding: 0;
    margin-left: 0;
    width: 100% !important;
  };
  @include BS-medium {
    height: auto;
    width: 100%;
    max-width: none;
    margin-left: -100px;
  };
}

.dropBox {
  position: relative;
  font-size: 32px;
  color: #222;
  letter-spacing: 0.95px;
  width: 110px;
  height: 100px;
  background: 0 0;
  text-align: center;
  float: left;
  padding: 0 10px 0 0;
  margin-right: 10px;
  margin-top: 10px;
}

.dropCapFirst {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 100px;
  font-size: 2.5em;
  color: #222;
  background: #fff;
  font-family: Sentinel SSm A,Sentinel SSm B,Sentinel,Times New Roman,serif;
  font-weight: 400;
  color: #fff;
  background: $vietnam-yellow;
}

.firstp {
  font-size: 1.75em;
  line-height: 1.25em;
  margin: 60px 0 50px;
  display: block;
  position: relative;
  z-index: 1;
}

.fixedside {
  position: relative;
  height: auto;
  display: inline-block;
  float: right;
  margin-left: 20px;
  // max-width: 60%;
  @include tablet {
    max-width: 55%;
  };
  @include mobile {
    margin: 0;
    padding: 0;
    max-width: 100%;
  };
  @include BS-medium {
    position: absolute;
    height: auto;
    left: 100px;
    width: 100%;
    display: flex;
    max-width: none;
  };
}

.inner-container {
  justify-content: center;
  width: auto;
  height: auto;
  margin: 0 0 0 15px;
  @include mobile {
    margin: 0;
    padding: 15px 0;
  };
  @include BS-medium {
    padding: 0 20px;
    margin: 0 auto;
  };
  @include BS-large {
    // padding: 0 65px;
    max-width: 650px;
    padding-right: 60px;
  };
}

.containerPhotoCredit {
  padding: 0 12px;
  color: #888;
  font-size: 11px;
  font-style: italic;
  margin-top: 5px;
  position: relative;
  text-align: right;
}

.containerPhotoCaption {
  margin-top: 0.5em;
  padding: 0 12px;
  color: #888;
  font-size: 12px;
}

.hoverGrow:hover {
  transition: all 0.2s ease-in-out;
  -ms-transform: scale(1.05);
  /* IE 9 */
  -webkit-transform: scale(1.05);
  /* Safari */
  transform: scale(1.05);
  cursor: pointer;
}

.imageFrame {
  // @include transform(rotate(1deg));
  background: white;
  border: 5px solid #fff;
  @include mobile {
    border: 3px solid white;
  };
  @include BS-medium {
     @include box-shadow(3px 4px 15px 0 rgba(#000,0.3));
  };
}

#imageStack-1 {
  transform: rotate(-4deg);
  z-index: 2;
  position: relative;
}



#imageStack-2 {
  margin: -50px 68px 0;
    transform: rotate(1deg);
  z-index: 1;
  position: relative;
  @include mobile {
    margin: -10px -8px 0;
  };
}



#imageStack-3 {
  transform: rotate(-4deg);
  z-index: 2;
  position: relative;
}



#imageStack-4 {
      right:10%;
      bottom: 30%;
      transform: rotate(5.5deg);
      z-index: 3;
      width: 150px;
      position: absolute;


      @include tablet {
        right:10%;
        bottom: 30%;
      };
      @include mobile {
        right:5%;
        bottom: 35%;
      };
}

#imageStack-5 {
    margin: -61px 100px 0;
    transform: rotate(-6.5deg);
    z-index: 2;
    position: relative;
    width: 164px;
    @include tablet {
      margin: -61px 28px 0;
    };
    @include mobile {
      margin: -61px -10px 0;
    };
}

/**/
#vietnam-text-overlay {
  position: absolute;
  top: 20%;
  z-index: 1;
  line-height: 1.16;
  padding: 15px;
  width: 400px;
  left: 10%;
  font-size: 26px;
  background-color: $vietnam-yellow;
  font-family: $philly-serif;
  color: black;
}

#border-label {
    position: absolute;
    z-index: 1;
    color: #99A5A7;
    right: 0;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
}

#g-vietnam-map-global-box .g-artboard {
  margin:0 auto;
}
#g-vietnam-map-global-box .g-artboard p {
  margin:0;
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Gotham Narrow", "Arial", sans-serif;
}
.g-aiAbs {
  position:absolute;
}
.g-aiImg {
  display:block;
  width:100% !important;
}
.g-aiPointText p { white-space: nowrap; }
#g-vietnam-map-global-Artboard_1 {
  position:relative;
  overflow:hidden;
  width:100%;
}
#g-vietnam-map-global-Artboard_1 p {
  font-weight:500;
  font-size:18px;
  line-height:22px;
  filter:alpha(opacity=100);
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  letter-spacing:0em;
  text-align:left;
  color:rgb(223,209,148);
  text-transform:none;
  padding-bottom:0;
  padding-top:0;
  mix-blend-mode:normal;
  font-style:normal;
  margin-bottom: 0px !important;
}
#g-vietnam-map-global-Artboard_1 .g-pstyle0 {
  font-size:24px;
  line-height:29px;
  color:rgb(107,107,107);

}
#g-vietnam-map-global-Artboard_1 .g-pstyle1 {
  font-size:24px;
  text-align:center;
  color:rgb(107,107,107);
}


#g-ai0-6 p , #g-ai0-7 p {
background-color: #000;
display: table;
padding: 0 3px;
}

/**/
.gradient-bottom-white {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: -1px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#00ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}

.graphic-source-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-style: italic;
  padding: 5px;
  text-shadow: 0 0 1px black, 0 0 7px black;
  font-size: 13px;
}

#map-stack-1 {
  margin-bottom: -200px;
  overflow: hidden;
}

.fullWidthGraphicContainer {
  width: 100%;
  position: relative;
  overflow:  hidden;
}

.fullWidthGraphicContainer img {
  width: 100%;
}

.map-marker {
  width: 15px;
  height: 15px;
  background-color: #DBCB87;
  border-radius: 26px;
  margin: 0 auto 5px;
  border: 1px solid black;
  position: absolute;
}

.map-text {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Gotham Narrow", "Arial", sans-serif;
  position: absolute;
}

.map-text-label {
  font-size: 20px;
  line-height: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.16666666666667em;
  -ms-filter:  'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
  opacity: 0.7;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 1px black, 0 0 7px black;
}

.map-text-label span {
  font-size: 14px;
}

.map-text-info {
    background-color: rgba(0,0,0,.5);
    color: #dbcb87;
    padding: 7px;
    border: 1px solid #dbcb87;
    line-height: 20px;
    font-weight: 300;
    font-size: 16px;
}

#map-text-1 {
  left: 32%;
  top: 32%;
}

#map-marker-2 {
  left: 37.5%;
  bottom: 44.3%;
}

#map-text-2 {
  right: 62.9%;
  bottom: 40%;
  width: 200px;
}

#map-marker-3 {
  right: 22%;
  top: 41%;
}

#map-text-3 {
  left: 78.4%;
  bottom: 53%;
  width: 200px;
}

#map-marker-4 {
  right: 27.2%;
  top: 42.3%;
}

#map-text-4 {
  right: 28.7%;
  bottom: 53%;
  width: 100px;
  text-align: center;
}

.yt-outer .containerPhotoCaption {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.yt-outer .containerPhotoCaption strong {
  color: black;
}

.yt-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.yt-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
//
//
/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.8 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2017, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  html.with-featherlight {
    /* disable global scrolling when featherlights are visible */
    overflow: hidden;
  }

  .featherlight {
    display: none;
    /* dimensions: spanning the background from edge to edge */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000000;
    /* z-index needs to be >= elements on the site. */
    /* position: centering content */
    text-align: center;
    /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
    white-space: nowrap;
    /* styling */
    cursor: pointer;
    background: #333;
    /* IE8 "hack" for nested featherlights */
    background: rgba(0, 0, 0, 0);
  }
  /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8);
  }

  .featherlight:before {
    /* position: trick to center content vertically */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }



  .featherlight .featherlight-content {
    /* make content container for positioned elements (close button) */
    position: relative;
    /* position: centering vertical and horizontal */
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    /* dimensions: cut off images */
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    /* dimensions: handling large content */
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    /* styling */
    background: #fff;
    cursor: auto;
    /* reset white-space wrapping */
    white-space: normal;
  }
  /* contains the content */
  .featherlight .featherlight-inner {
    /* make sure its visible */
    display: block;
  }
  /* don't show these though */
  .featherlight link.featherlight-inner,
  .featherlight script.featherlight-inner,
  .featherlight style.featherlight-inner {
    display: none;
  }

  .featherlight .featherlight-close-icon {
    /* position: centering vertical and horizontal */
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    /* dimensions: 25px x 25px */
    line-height: 25px;
    width: 25px;
    /* styling */
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #fff;
    /* Set the background in case it overlaps the content */
    background: rgba(255, 255, 255, 0.3);
    color: #000;
    border: none;
    padding: 0;
  }
  /* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
  .featherlight .featherlight-close-icon::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .featherlight .featherlight-image {
    /* styling */
    width: 100%;
  }

  .featherlight-iframe .featherlight-content {
    /* removed the border for image croping since iframe is edge to edge */
    border-bottom: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  .featherlight iframe {
    /* styling */
    border: none;
  }

  .featherlight * {
    /* See https://github.com/noelboss/featherlight/issues/42 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    /* dimensions: maximize lightbox with for small screens */
    margin-left: 0;
    margin-right: 0;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent;
  }
}
