<div class="hide-on-mobile" id="pvietnam-maps-container">

  <div class="fullWidthGraphicContainer">
    <div class="textLayerContainer">
      <div class="map-marker" id="map-marker-2"></div>
      <div class="map-marker" id="map-marker-3"></div>
      <div class="map-marker" id="map-marker-4"></div>
      <div class="map-text map-text-label" id="map-text-1">Bien Hoa Air BasE<br><span>Dong Nai, Vietnam</span></div>
      <div class="map-text map-text-info" id="map-text-2">The water tower, call sign Delta 18, that Sgt. Bob Conner was on duty at during the Tet Offensive.</div>
      <div class="map-text map-text-info" id="map-text-3">The location of the discovered mass grave holding the bodies of 150 Viet Cong soldiers.</div>
      <div class="map-text map-text-info" id="map-text-4">Bunker Hill 10</div>
    </div>
    <img src="http://media.philly.com/images/vietnam-map_blank-01.png" />
    <!-- <div class="graphic-source-inner" alignment="true">Jared Whalen / Staff</div> -->
    <div class="gradient-bottom-white"></div>
  </div>
</div>
