
<div id="pvietnam-maps-container">

<div class="fullWidthGraphicContainer">
  <div id="g-vietnam-map-global-box" class="ai2html">

  	<!-- Artboard: Artboard_1 -->
  	<div id="g-vietnam-map-global-Artboard_1" class="g-artboard g-artboard-v3" data-min-width='1200'>
  		<img id="g-ai0-0" class="g-aiImg" src="http://media.philly.com/images/vietnam-map-global-Artboard_2.png"/>
  		<div id="g-ai0-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:4.1375%;margin-top:-15.1px;left:37.384%;width:51px;">
  			<p>Laos</p>
  		</div>
  		<div id="g-ai0-2" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:24.8875%;margin-top:-15.1px;left:30.7593%;width:92px;">
  			<p>Thailand</p>
  		</div>
  		<div id="g-ai0-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:33.2625%;margin-top:-15.1px;left:57.2579%;width:90px;">
  			<p>Vietnam</p>
  		</div>
  		<div id="g-ai0-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:44.0125%;margin-top:-15.1px;left:43.1337%;width:109px;">
  			<p>Cambodia</p>
  		</div>
  		<div id="g-ai0-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:51.8062%;margin-top:-11.4px;left:54.6329%;">
  			<p class="g-pstyle0">Bien Hoa Air Base</p>
  		</div>
  		<div id="g-ai0-6" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:90.3875%;margin-top:-15.1px;left:33.5092%;width:91px;">
  			<p>Malaysia</p>
  		</div>
  	</div>

  </div>

</div>


<div class="fullWidthGraphicContainer">
  <div class="textLayerContainer">
    <div class="map-marker" id="map-marker-2"></div>
    <div class="map-marker" id="map-marker-3"></div>
    <div class="map-marker" id="map-marker-4"></div>
    <div class="map-text map-text-label" id="map-text-1">Bien Hoa Air BasE<br><span>Dong Nai, Vietnam</span></div>
    <div class="map-text map-text-info" id="map-text-2">The watertower, call sign Delta 18, that Sgt. Bob Conner was on duty at during the Tet Offensive.</div>
    <div class="map-text map-text-info" id="map-text-3">The location of the discovered mass grave holding the bodies of 150 Viet Cong soldiers.</div>
    <div class="map-text map-text-info" id="map-text-4">Bunker Hill 10</div>
  </div>
  <img src="http://media.philly.com/images/vietnam-map_blank-01.png" />
<!-- <div class="graphic-source-inner" alignment="true">Jared Whalen / Staff</div> -->
<div class="gradient-bottom-white"></div>
</div>
</div>

<style>



/**/
#g-vietnam-map-global-box .g-artboard {
  margin:0 auto;
}
#g-vietnam-map-global-box .g-artboard p {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Gotham Narrow", "Arial", sans-serif;
  margin:0;
}
.g-aiAbs {
  position:absolute;
}
.g-aiImg {
  display:block;
  width:100% !important;
}
.g-aiPointText p { white-space: nowrap; }
#g-vietnam-map-global-Artboard_1 {
  position:relative;
  overflow:hidden;
  width:100%;

}
#g-vietnam-map-global-Artboard_1 p {
  font-weight:500;
  font-size:24px;
  line-height:29px;
  filter:alpha(opacity=100);
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  letter-spacing:0em;
  text-align:left;
  color:rgb(107,107,107);
  text-transform:none;
  padding-bottom:0;
  padding-top:0;
  mix-blend-mode:normal;
  font-style:normal;
}
#g-vietnam-map-global-Artboard_1 .g-pstyle0 {
  font-size:18px;
  line-height:22px;
  color:rgb(223,209,148);
  background-color: #000;
  padding: 0 5px;
}



/**/


.gradient-bottom-white {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom:0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


.graphic-source-inner {
  position: absolute;
bottom: 0;
right: 0;
color: white;
font-style: italic;
padding: 5px;
  text-shadow: 0px 0px 1px black, 0px 0px 7px black;
  font-size:13px;
}


  .fullWidthGraphicContainer {
    width: 100%;
    position: relative;
  }

  .fullWidthGraphicContainer img {
    width: 100%;
  }


  .map-marker {
    width: 15px;
    height: 15px;
    background-color: #DBCB87;
    border-radius: 26px;
    margin: 0 auto 5px;
    border: 1px solid black;
    position: absolute;
  }

  .map-text {
    font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Gotham Narrow", "Arial", sans-serif;
    position: absolute;
  }


  .map-text-label {
    font-size: 20px;
    line-height: 18px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.16666666666667em;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
    opacity: 0.7;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 0px 1px black, 0px 0px 7px black;
  }

  .map-text-label span {
    font-size: 14px;
  }

  .map-text-info {
    background-color: rgba(0, 0, 0, 0.5);
    color: #DBCB87;
    padding: 7px;
    border: 1px solid #DBCB87;
    line-height: 16px;
    font-weight: 300;
    font-size: 13px;
  }


  #map-text-1 {
    left: 32%;
    top: 32%;
  }

  #map-marker-2 {
    left: 37.5%;
    bottom: 44.3%;
  }

  #map-text-2 {
    right: 62.9%;
    bottom: 40%;
    width: 150px;
  }



  #map-marker-3 {
    right: 22%;
    top: 41%;
  }
  #map-text-3 {
    left: 78.4%;
    bottom: 53%;
    width: 150px;
  }

  #map-marker-4 {
    right: 27.2%;
    top: 42.3%;
  }

  #map-text-4 {
    right: 28.7%;
    bottom: 53%;
    width: 100px;
    text-align: center;
}
</style>
