<div class="fullWidthGraphicContainer hide-on-mobile" id="map-stack-1">
<div id="vietnam-text-overlay"><span>Thousands of miles and half a century separated retired Sgt. Bob Conner from his former duty station at Bien Hoa Air Base, Vietnam. An unexpected email brought him back - but for a very different mission.</span></div>
    <!-- <img id="imageStack-1" src="http://betadam.phillynews.com/filestore/7/9/3/4/0/5_0805d95e3371ea8/793405scr_7a5b391f3c77b15.jpg?v=2017-09-01+17%3A32%3A07" class="imageFrame"> -->
    <div id='border-label'>Country borders during the Vietnam War</div>
    <div id="g-vietnam-map-global-box" class="ai2html">

    	<!-- Artboard: Artboard_1 -->
    	<div id="g-vietnam-map-global-Artboard_1" class="g-artboard g-artboard-v3" data-min-width='1200'>
    		<img id="g-ai0-0" class="g-aiImg" src="http://media.philly.com/images/vietnam-map-global-Artboard_1.png"/>
    		<div id="g-ai0-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:4.1375%;margin-top:-15.1px;left:37.384%;width:51px;">
    			<p class="g-pstyle0">Laos</p>
    		</div>
    		<div id="g-ai0-2" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:11.075%;margin-top:-22.6px;left:50.9335%;margin-left:-3.6667%;width:90px;">
    			<p class="g-pstyle1">North</p>
    			<p class="g-pstyle1">Vietnam</p>
    		</div>
    		<div id="g-ai0-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:24.8875%;margin-top:-15.1px;left:30.7593%;width:92px;">
    			<p class="g-pstyle0">Thailand</p>
    		</div>
    		<div id="g-ai0-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:34.075%;margin-top:-22.6px;left:61.1466%;margin-left:-3.6667%;width:90px;">
    			<p class="g-pstyle1">South</p>
    			<p class="g-pstyle1">Vietnam</p>
    		</div>
    		<div id="g-ai0-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:44.0125%;margin-top:-15.1px;left:43.1337%;width:109px;">
    			<p class="g-pstyle0">Cambodia</p>
    		</div>
    		<div id="g-ai0-6" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:50.0562%;margin-top:-11.4px;left:56.5675%;width:143px;">
    			<p>Bien Hoa Air Base</p>
    		</div>
    		<div id="g-ai0-7" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:57.5563%;margin-top:-11.5px;left:55.4331%;width:205px;">
    			<p>Saigon (Ho Chi Minh City)</p>
    		</div>
    		<div id="g-ai0-8" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:90.3875%;margin-top:-15.1px;left:33.5092%;width:91px;">
    			<p class="g-pstyle0">Malaysia</p>
    		</div>
    	</div>

    </div>
    <div class="gradient-bottom-white"></div>
</div>
