<div class="fullWidthGraphicContainer hide-on-mobile" id="map-stack-1">
<div id="vietnam-text-overlay"><span>Thousands of miles and half a century separated Sgt. Bob Conner from his former duty station at Bien Hoa Air Base, Vietnam, but an unexpected email brought him back - but for a very different mission.</span></div>
    <!-- <img id="imageStack-1" src="http://betadam.phillynews.com/filestore/7/9/3/4/0/5_0805d95e3371ea8/793405scr_7a5b391f3c77b15.jpg?v=2017-09-01+17%3A32%3A07" class="imageFrame"> -->

  <div id="g-vietnam-map-global-box" class="ai2html">

    <!-- Artboard: Artboard_1 -->
    <div id="g-vietnam-map-global-Artboard_1" class="g-artboard g-artboard-v3" data-min-width='1200'>
      <img id="g-ai0-0" class="g-aiImg" src="http://media.philly.com/images/vietnam-map-global-Artboard_2.png" />
      <div id="g-ai0-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:4.1375%;margin-top:-15.1px;left:37.384%;width:51px;">
        <p>Laos</p>
      </div>
      <div id="g-ai0-2" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:20%;margin-top:-15.1px;left:33%;width:92px;">
        <p>Thailand</p>
      </div>
      <div id="g-ai0-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:33.2625%;margin-top:-15.1px;left:57.2579%;width:90px;">
        <p>Vietnam</p>
      </div>
      <div id="g-ai0-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:44.0125%;margin-top:-15.1px;left:43.1337%;width:109px;">
        <p>Cambodia</p>
      </div>
      <div id="g-ai0-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:51.8062%;margin-top:-11.4px;left:54.6329%;">
        <p class="g-pstyle0">Bien Hoa Air Base</p>
      </div>
      <div id="g-ai0-6" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:90.3875%;margin-top:-15.1px;left:33.5092%;width:91px;">
        <p>Malaysia</p>
      </div>
    </div>

  </div>
    <div class="gradient-bottom-white"></div>
</div>
