<!-- <div class="headerIntro">
      <div class="backgroundImage" id="backgroundImage-1">
          <div class="backgroundImageCredit" alignment="true">A U.S. Air Force gunner overlooks a convoy of medical trucks headed for the U.S. Army base at Long Binh in Vietnam, between Bien Hoa and Saigon, in 1968. / Courtesy of Bob Connor</div>
      </div>

  </div> -->

<div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-1">
    <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
  </div>
  <div class="overlayText">
    <h1 class="">Sample headline</h1>
    <div class="suboverlay">Sample subhead</div>
    <div class="byline">
      By Stephanie Farr / Staff Writer
    </div>
    <div class="dateline">Wednesday, September 20, 2017</div>
    <div class="custom-social-share" alignment="true">&nbsp;</div>
  </div>
</div>


<!-- <div class="dateline">Wednesday, July 12, 2017
                    <div class="custom-social-share" alignment="true">&nbsp;</div>
                </div> -->
<!-- <div class="headDisplay">    <div class="subHead">      This is the subhead.    </div>    <div class="byline">      Jeff McLane / Staff Writer, <a href="mailto:jmclane@phillynews.com">jmclane@phillynews.com</a>      <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>    </div>    <div class="dateline">Pub date, Xxx. ##, 2017</div>  </div></div> -->

{% include "partials/vietnam-map.html" %}
<!-- <div class="container bodyContainer" alignment="true">
  <div class="row">
    <div class="col-md-12 col col-md-offset-0" alignment="true">
      <div class="dateline">, September , 2017
        <div class="custom-social-share" alignment="true">
          <div class="shareBtn faceb"></div>
          <div class="shareBtn twit"></div>
          <div class="shareBtn email"></div>
          <div class="shareBtn comment"></div>
          <div class="shareBtn reprints"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-9 col col-md-offset-0" alignment="true">
      <div class="dropBox"><span class="dropCapFirst">I</span></div>
      <p><span class="firstp">orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissim vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit amet        ullamcorper lorem consectetur. nec at nunc. Nunc placerat placerat rhoncus.</span></p>
    </div>
  </div>
</div> -->
<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2 topCol" alignment="true">

      <div class="dropBox"><span class="dropCapFirst">T</span></div>
      <p>he search consumes Bob Connor now, almost 50 years after he smelled the stench of the piled, rotting bodies from across the base, then went back to his duties.</p>
      <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight">
        <img class="img-fluid" src="http://media.philly.com/images/RS_825x550_20170911_PVIETNAM01_e_412384988.JPG" width="100%" />
        <div class="containerPhotoCredit" alignment="true">DAVID SWANSON / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">Bob Connor, a Vietnam veteran who is helping the Vietnamese government identify mass graves of their soldiers killed during the Vietnam War. </div>
      </div> -->


      <p>For hours on end and days that bleed into nights, the 70-year-old retired facilities manager sits at the computer in his Maple Shade, N.J., apartment, poring through vast troves of data, military records, and maps in search of clues about where
        long-missing bodies of Viet Cong and North Vietnamese soldiers might be buried.</p>

      <p>For Connor — a U.S. veteran of the Vietnam War — this is more than a quest. It is a question of humanity.</p>

      <p>In the United States, the Vietnam War has been etched into the fabric of an entire generation and is fading into history books. All but 1,603 American casualties have been found, their remains laid to rest. But in Vietnam, the final chapter of the
        war remains unwritten, families and comrades unsettled as nearly 300,000 soldiers are still missing, according to the Vietnamese government.</p>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right hangRight">
        <div class="inner-container">
          <img class="img-fluid imageFrame" id="imageStack-1" src="http://media.philly.com/images/RS_650x433_20170911_PVIETNAM24_d.jpg" alt="" width="100%/">
          <img class="img-fluid imageFrame" id="imageStack-2" src="http://media.philly.com/images/RS_650x433_20170911_PVIETNAM24_b.jpg" alt="" width="100%/">
        </div>
        <div class="containerPhotoCredit" alignment="true">Courtesy of Bob Connor.</div>
        <div class="containerPhotoCaption" alignment="true">Top: U.S. Air Force Sgt. Bob Connor, second from left, with his fellow U.S. Air Force Security Forces comrades at Bien Hoa Air Force Base in Vietnam in 1967.<br>Bottom: Sgt. Bob Connor carries a flare chute outside of the barracks.</div>
      </div>
      <p>Many of the missing were buried in mass, unmarked graves dug by their former enemies — American servicemen. In a twist of internet serendipity, the Vietnamese government found Connor and have asked him and other veterans to help locate the unmarked
        graves, to give thousands of Vietnamese families the closure that has eluded them for five decades.</p>
      <p>Connor has answered that call with obsessive urgency. His mission to bring comfort to the families of his former enemies has taken him halfway around the world, alienated some Vietnam veterans, and unearthed vivid memories of the futility and horror
        of a war that ended long ago.</p>
      <h3>'The colonel will be in touch'</h3>

      <p>Connor was not out looking to start a new mission at this stage in his life.</p>
      <p>He had been helping his granddaughter with a school project about the Vietnam War when he searched Google Earth for Bien Hoa Air Base, where he had served in 1967-68 as a sergeant with the U.S. Air Force Security Forces.</p>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight">
        <img class="img-fluid" src="https://web.archive.org/web/20161017011447im_/http://static.panoramio.com/photos/large/47922312.jpg" width="100%" />
        <div class="containerPhotoCredit" alignment="true"><a href="https://web.archive.org/web/20161017011447/http:/www.panoramio.com/photo/47922312">Panormaio (archived)</a></div>
        <div class="containerPhotoCaption" alignment="true">The photo Bob Connor posted using Panoramio along with his comment: "As you look up the road where it makes a hard right. At that intersection is where the 3rd Security Police manned Bunker Hill 10. Significant battle took place here at the start
          of the Tet Offensive '68. Those VC killed had to buried in a mass grave at the end of the runway. From Nov '67 til about 1/3/68 I worked nights atop the base water tower (aka Delta 18) near the BX. I would spot the mortar and rocket flashes
          as the incoming start. The base siren would be set off giving those sleeping about 7 seconds to wake up and get to a bunker. Sgt. Bob Connor, 3rd Security Police Sq., 4/5/67 - 4/5/68."</div>
      </div>
      <p>In the interest of cataloging history, Connor left a comment — and his email address — on one of the photos of Bien Hoa. He didn't really expect anyone to see it.</p>
      <p>"Significant battle took place here at the start of the Tet Offensive '68," he wrote. "Those VC [Viet Cong] killed had to be buried in a mass grave at the end of the runway."</p>
      <p>Ten days later, an email arrived from Vietnam.</p>
      <p>It was from Che Trung Hieu, a 70-year-old veteran of the North Vietnamese People's Army, who was "very excited to hear about the grave because they knew nothing about it," Connor said. "So he's in shock, and I'm in shock, and he says, 'The colonel
        will be in touch with you.' "</p>
      <p>Connor, who had been honorably discharged from the Air Force in 1969 and has been perfectly happy enjoying retired life since 2003, had no idea who "the colonel" was or what he had gotten himself into.</p>
      <p>"I damn near s—," Connor said. "I thought, 'What did you do, you idiot? Holy s—, this is unusual!' "</p>
      <p>Soon after, he got another email. Col. Mai Xuan Chien — deputy political commissar of the military command in the province where Bien Hoa is located — said the Vietnamese government had been searching the area for decades with no success.</p>
      <p>"We are so glad because over 40 past years, we have so many times searched and excavated along the perimeter of Bien Hoa Air Base, but we didn't find any of the mass graves," Mai wrote. "Would you please contact other veterans to give us more specific
        information?" <span class="letter-click" data-featherlight=".letters">Click to read the entire letter.</span>
      </p>
      <img class="letters" src="http://media.philly.com/images/RS_x_20170911_pvietnam_Col_Chien_1_of_2.png" />
      <img class="letters" src="http://media.philly.com/images/RS_x_20170911_pvietnam_Col_Chien_2_of_2.png" />
      <img class="dod" src="http://media.philly.com/images/DOD+Letter05052017.jpg" />
      <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
        <div class="adUnit" alignment="true">
          <div id="div-gpt-ad-mrec-21" alignment="true">
            <script alignment="true" type="text/javascript">
              // <![CDATA[
              cX.callQueue.push(['invoke', function() {
                googletag.cmd.push(function() {
                  googletag.display('div-gpt-ad-mrec-21');
                });
              }]);
              // ]]>
            </script>
          </div>
        </div>
      </div>
      <h3>'You have to get by that bitterness'</h3>

      <p>In Vietnamese culture, soldiers who die in war but remain unaccounted for are referred to as martyrs. Their spirits are believed to wander between this world and the next until their bodies are found, identified, and properly entombed. Only then
        can they be called heroes.</p>
      <p>Mai said first-person accounts were one of Vietnam's best resources for finding mass graves.</p>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight yt-outer">
        <div class="yt-container">
          <iframe class="yt-video" src="https://www.youtube.com/embed/mL8q4a6mEC0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="containerPhotoCredit" alignment="true">JARED WHALEN / Staff</div>
        <div class="containerPhotoCaption" alignment="true"><strong>Retired Sgt. Bob Connor</strong> describes his experience during the Tet Offensive at Bien Hoa Air Base, Vietnam.</div>
      </div>
      <p>"Veterans of the United States who are witnesses ... are the best clues, with their memory, souvenirs, photographs, and even their hearts of humanitarians," Mai wrote in an email to the Inquirer and Daily News, "along with the generosity and sympathy
        sharing the pain of war between two peoples of Vietnam and the United States."</p>
      <p>Connor thought it strange that people in Vietnam would put so much faith in his word alone. It was an honor he did not take lightly.</p>
      <p>He scoured the internet for other veterans who could have more detailed information about the mass grave at Bien Hoa, or any other mass graves in Vietnam. He posted on military Facebook pages and message boards. He sent emails and contacted website
        administrators.
      </p>
      <p>Many times, he received no response. Sometimes, the responses were hostile.</p>
      <p>"Let those stinking commies lay where they are," one Vietnam veteran wrote back to Connor. "I won the nation's 5th highest award for heroism … and killed as many of those commies as I could."</p>
      <p>Connor hit roadblocks at every turn until one veteran put him in contact with retired Col. Martin Strones, who had been a captain of the U.S. Air Force Security Forces at Bien Hoa during the Tet Offensive battle and had been awarded the Silver Star
        for valor in combat.</p>
      </div>
      <div class="row">
        <div class="col-md-10 col col-md-offset-1">
          <img class="img-fluid" src="http://media.philly.com/images/RS_1200x800_20170911_PVIETNAM01_c_412440681.JPG" width="100%" />
          <div class="containerPhotoCredit" alignment="true">DAVID SWANSON / Staff Photographer</div>
          <div class="containerPhotoCaption" alignment="true">Retired Air Force Colonel Martin E. Strones at the Vietnam Veterans Memorial in Washington, D.C.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
      <p>On base after the attack, it had been Strones' job to count the enemy bodies.</p>
      <p>"If you can imagine 150 bodies deteriorating rapidly in the sun, it's just a terrible stench — and then the animals start," he said. "It was almost impossible to breathe out there because of the smell."</p>

        <p>Strones oversaw the gathering of the bodies, which were buried in an unmarked grave on the edge of the base.</p>
        <p>Then, he went on with his duties — and his life.</p>
        <p>"I never really dwelled on the mass grave," he said. "In fact, until Bob brought it up, I really hadn't thought about it."</p>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight">
          <div class="sidebar-container">
            <a target="_blank" href="#">
              <img style="opacity: 0.6;" src="http://media.philly.com/images/vietnam-map-tet_offensive-04.png" width="100%">
              <h3>What was the Tet Offensive?</h3>
              <p>The Tet Offensive launched on January 20, 1968 and was one of the largest military campaigns in the. It consisted of a series of surprise attacks by the Viet Cong throughout South Vietnam.</p>
              <p>Click here to learn more about the Tet Offensive and Bien Hoa's role in the battle. <span class="glyphicon glyphicon-new-window"></span></p>
            </a>
          </div>
        </div>
        <p>What Strones, 77, had thought about was returning to Bien Hoa Air Base.</p>
        <p>Often.</p>
        <p>"I've wanted to go back for many, many years. I don't know if I can explain why to anybody who was not in the military," he said. "It's the same reason why people go back to Normandy."</p>
        <p>Strones spent 30 years in active duty and reserve service with the U.S. Air Force and now runs a security consulting company, Strones Enterprises Inc. He had tried at least three times to get back on Bien Hoa Air Base, about 20 miles northeast
          of what was then Saigon, but was denied access: The site is an active Vietnamese military installation.</p>
        <p>In December, Strones, of Knoxville, Tenn., received Connor's email, asking him to help locate the mass grave at Bien Hoa. Strones didn't hesitate to help.</p>
        <p>"I know some people are still bitter, but we were doing what we were told. Some people are mad at the U.S. government for that, and some people are mad at the Vietnamese for that," Strones said. "I understand. But you have to get by that bitterness.
          If I'd have lost a son, I'd want to know where he ended up."</p>


        <h3>Enemies no more</h3>
        <p>Connor and Strones had been invited to Vietnam in March by Mai and the Dong Nai Province People's Committee to help identify the grave at Bien Hoa.</p>
        <p>At their first meeting, Mai — dressed in full uniform — saluted the Americans. He made it clear, Connor said, that the Vietnamese held no ill-will toward U.S. veterans.</p>

        <p>"He wanted us to know that they understand and respect what we had to do during the war," Connor said. "He only said it once, but you had that feeling the entire time we were there with him."</p>
        <p>When Connor met Che, the man who wrote the email that started his transcontinental odyssey, he was overcome with emotion.</p>
        <p>"It's a funny feeling, when you're face to face with your enemy, completely," Connor said, fighting back tears. "The common thread between us was that the war was over, and we were friends. We had just never met. And we're meeting now for the
          very first time."
        </p>




      </div>
    </div>
    <div class="row" alignment="true">
      <div class="col-md-6 col" alignment="true">
        <img class="imageFrame" src="http://media.philly.com/images/RS_x_20170911_12._Photo_with_Colonel_Mai_Xuan_Chien_____Vice_Political_Commissar_of_Dong_Nai_Province_Military_Command_cum_Deputy_Head_of_Steering_C.jpg" width="100%" />
        <div class="containerPhotoCredit" alignment="true">Courtesy of Martin Strones</div>
        <div class="containerPhotoCaption" alignment="true">U.S. Air Force veteran Bob Connor, at left, People&#039;s Army of Vietnam Col. Mai Xuan Chien, center, and U.S. Air Force veteran Martin Strones, at right, in front of Bunker Hill 10 on Bien Hoa air base in Vietnam.</div>
      </div>
      <div class="col-md-6 col" alignment="true">
        <img class="imageFrame" src="http://media.philly.com/images/RS_x_20170914_Vietnam13.JPG" width="100%" />
        <div class="containerPhotoCredit" alignment="true">Courtesy of Martin Strones</div>
        <div class="containerPhotoCaption" alignment="true">U.S. Air Force veteran Bob Connor, at left, People&#039;s Army of Vietnam Col. Mai Xuan Chien, center, and U.S. Air Force veteran Martin Strones, at right, in front of Bunker Hill 10 on Bien Hoa air base in Vietnam.</div>
      </div>
    </div>
    <div class="row" alignment="true">
      <div class="col-md-8 col col-md-offset-2" alignment="true">
        <p>When Strones and Connor accompanied Mai and his group to try to locate the grave, they became the first Americans since the war to set foot on Bien Hoa Air Base. The Deputy Prime Minister of Vietnam even came to the base to meet them and oversee
          the excavations.</p>
        <p>After four days, they were unable to pinpoint the grave. Strones and Connor returned home deflated.</p>
        <p>"I think they thought I could go right to the spot and say, 'Dig here,' " Strones said. "But I had told them more than once, 'I believe I can find it, but we didn't mark it, and it's been 49 years.' "</p>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight yt-outer">
                <div class="yt-container">
                  <iframe class="yt-video" src="https://www.youtube.com/embed/b5eYNzkxXeY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="containerPhotoCredit" alignment="true">DAVID SWANSON / Staff Photographer </div>
                <div class="containerPhotoCaption" alignment="true"><strong>Retired Col. Martin Strones</strong> talks about making peace with former enemies and helping them find closure.</div>
              </div>

        <p>Connor was crestfallen.</p>
        <p>"I was frustrated and ticked off because we couldn't find the grave," he said. "But they weren't upset."</p>
        <p>Mai said that knowing the U.S. veterans were leaving his country so despondent only strengthened his people's resolve to find the grave.</p>
        <p>"Mr. Martin Strones and Mr. Bob Connor had to return their country in an uneasy and unsatisfactory status," he said. "We did share those mood of them and determined to expand the search area."</p>
        <p>Three weeks later, the mass grave of "relics and rotten bones" was uncovered at Bien Hoa, just 20 meters from where Strones said it would be, according to Mai.</p>

        <p>The discovery proved to Che that Connor and Strones were "good, wonderful guys who help bring home the Martyrs who lay down under cold place nearly 50 years."</p>
      </div>
    </div>
  </div>
</div>{% include "partials/grave-map.html" %}
<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col" alignment="true">
      <img class="img-fluid imageFrame" src="http://media.philly.com/images/RS_x_20170913_Vietnam7.jpg" width="100%" />
    </div>
    <div class="col-md-6 col" alignment="true">
      <img class="img-fluid imageFrame" src="http://media.philly.com/images/RS_1200x800_20170913_Vietnam14.JPG" width="100%" />
      <div class="containerPhotoCredit" alignment="true">Courtesy of Martin Strones</div>
      <div class="containerPhotoCaption" alignment="true">xxx</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">

      <p>Dao Le Phuong, press and cultural attaché for the Vietnam Embassy in Washington, D.C., confirmed — in an email to the Inquirer and Daily News — the finding of "mass graves of Vietnamese martyrs" at Bien Hoa, "with the support of two American veterans,
        Bob Connor and Martin Strones."</p>
      <p>While the grave was believed to have contained about 150 soldiers, the Vietnamese government was able to identify only 72 of the martyrs, Che said, and to contact their family members.</p>
      <p>"The rest we will continue to contact and find their families, but it is difficult because, after 50 years of war, many families are scattered," he said.</p>
      <p>On July 12, a reburial was held in Vietnam for the 72 who, thanks to their former enemies, are wandering spirits no more. Relatives of the dead came clutching photos of their loved ones, incense filled the hot air, and 72 small coffins — all draped
        in Vietnamese flags — were aligned in perfect rows.</p>

    </div>
  </div>
</div>

<div class="container" alignment="true">
  <div class="row" alignment="true">
    <div alignment="true" class="col-md-offset-1 col-md-10">
      <div data-ride="carousel" class="carousel slide 444421423" id="carousel-one-generic" alignment="true">&nbsp;</div>
    </div>
  </div>
</div>
<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <p>"The memorial service was so emotional," Che said, "more than 1,500 attenders and martyrs' families from 23 provinces."</p>
      <p>Le Anh Toan, the brother of one of the soldiers found in the mass grave, said that in 1968, his family had received nothing more than a death notice.</p>
      <p>For "50 years, our family has looked for our brother. Now we know his resting place amongst his comrades. We can finally be at peace," he told the Viet Nam News, a daily English newspaper in Hanoi.</p>
      <p>Phung Duy Cuong, who fought at Bien Hoa for the North Vietnamese People's Army, said the soldiers who had died beside him that day were like brothers.</p>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight">
        <img class="img-fluid" src="http://media.philly.com/images/RS_galleryImages_x_20170914_Vietnam9.jpg" width="100%" />
        <div class="containerPhotoCredit" alignment="true">Photo courtesy of Che Trung Hieu</div>
        <div class="containerPhotoCaption" alignment="true">North Vietnamese Army veteran Che Trung Hieu, at left, helps to carry the remains of a soldier found in a mass grave at Bien Hoa air base during a ceremony and reburial for the soldiers in July in Vietnam.</p>
        </div>
      </div>
      <p>Strones' piercing blue eyes still well up when he talks about watching footage of the reburial.</p>
      <p>"To see those people standing with an 8-by-10 picture of their loved one — I'm so glad I was able to do that, to give them closure," he said. "People sent me emails saying, 'God bless you for coming to Vietnam and helping us heal the wounds.'"</p>
      <p>Laying the dead to rest is "an important part of healing deep wounds," Ted Osius, U.S. ambassador to Vietnam, said in a statement.</p>
      <p>"When people from both countries, who were once on opposite sides of the battlefield, are able to move on, become friends, and work together to pay respect to the fallen and bring a sense of closure to these families," Osius said, "that sends a
        powerful message."
      </p>

      <h3>'A profound humanitarian issue'</h3>

      <p>Today, Strones continues to speak to military groups about his humanitarian mission, in part to try to find others who may know about additional graves in Vietnam.</p>
      <p>Meanwhile, Connor — who came home from the Vietnam War feeling like he hadn't made a damn bit of difference — now spends up to four hours a day hunting the internet, trying to get other veterans to come forward.</p>
      <p>"For those who have seen grotesque war atrocities, that's a hard pill to swallow. I admit that," Connor said of veterans' helping a former enemy. "They need to break away from that last thought of the guy who died beside them and think of the families
        in Vietnam that deserve closure."</p>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight">
          <div class="sidebar-container">
            <a href="">
              <!-- <img style="opacity: 0.6;" src="http://media.philly.com/images/vietnam-map-tet_offensive-04.png" width="100%"> -->
              <h3>Why is Vietnam so far behind in identifying remains?</h3>
              <p>...</p>
              <p>Click to learn more about ... <span class="glyphicon glyphicon-new-window"></span></p>
            </a>
          </div>
        </div>
      <p>What started as just one man on an unlikely mission has grown. Connor is now working with four other Vietnam veterans he found on the internet who have insight into additional mass graves in Vietnam. He and Strones have also provided information
        on several other mass graves containing as many as 3,000 soldiers, though those sites have yet to be excavated, Che said.</p>
      <p>Connor hopes the U.S. government will also step up and provide intelligence it may have on mass graves in Vietnam, "or else this whole thing is going to take another 50 years."</p>
      <p>Dao, of the Vietnamese Embassy, called the exchange of information "a profound humanitarian issue."</p>
      <p>"Continued cooperation between the two countries on these humanitarian issues," he said, "serve the interest and wishes of our two people and help deepen our ties and relations."</p>
      <p>Lee Tucker, a spokesman for the Defense Department's POW/MIA Accounting Agency, said in an email that, since 1988, the U.S. has conducted joint recovery operations with Vietnam for missing U.S. soldiers and citizens, and does so four times a year.</p>
      <p>"The progress we have made in accounting for our personnel still missing from the war in Vietnam would not be possible without the support of the Vietnamese people and its government," Tucker wrote. "For that, we are very appreciative."</p>
      <p>In 2015, the U.S. Agency for International Development signed a statement of cooperation with the Vietnam Academy of Science and Technology, which included a $980,000 grant to help advance the country's ability to identify remains.</p>
      <p>While POW/MIA is aware of Connor and Strones' endeavor and is "supportive of the mission from a humanitarian perspective," Tucker said, the agency takes no official position on their actions.</p>
      <p>"It is important to remember," he wrote, "these are efforts by veterans acting on their own."</p>



    </div>
  </div>
</div>




<div class="container-fluid sourcebox" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2 topCol" alignment="true">
      <div>
        <h4>CREDITS</h4>
        <p>Reporter: Stephanie Farr<br> Editor: Jessica Parks<br> Visuals editor: Frank Wiese<br> Design and graphics: Jared Whalen<br> Project Manager: Ellen Dunkel<br> Video: David Swanson, Jared Whalen<br> Photography: David Swanson<br>
          <!-- Copy editors: Richard Barron, Bob Kelley<br>
          Photo editor: Michael Mercanti<br>
          Social editor: Ray Boyd</p> -->
      </div>
    </div>
  </div>
</div>

<div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-2">
    <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
  </div>
</div>
