
<!-- <div class="headerIntro">
      <div class="backgroundImage" id="backgroundImage-1">
          <div class="backgroundImageCredit" alignment="true">A U.S. Air Force gunner overlooks a convoy of medical trucks headed for the U.S. Army base at Long Binh in Vietnam, between Bien Hoa and Saigon, in 1968. / Courtesy of Bob Connor</div>
      </div>

  </div> -->

<div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-1">
    <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
  </div>
  <div class="overlayText">
    <h1 class="">Sample headline</h1>
    <div class="suboverlay">Sample subhead</div>
    <div class="byline">
      By Stephanie Farr / Staff Writer
    </div>
    <div class="dateline">Wednesday, September 20, 2017</div>
    <div class="custom-social-share" alignment="true">&nbsp;</div>
  </div>
</div>


<!-- <div class="dateline">Wednesday, July 12, 2017
                    <div class="custom-social-share" alignment="true">&nbsp;</div>
                </div> -->
<!-- <div class="headDisplay">    <div class="subHead">      This is the subhead.    </div>    <div class="byline">      Jeff McLane / Staff Writer, <a href="mailto:jmclane@phillynews.com">jmclane@phillynews.com</a>      <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>    </div>    <div class="dateline">Pub date, Xxx. ##, 2017</div>  </div></div> -->

{% include "partials/vietnam-map.html" %}
<!-- <div class="container bodyContainer" alignment="true">
  <div class="row">
    <div class="col-md-12 col col-md-offset-0" alignment="true">
      <div class="dateline">, September , 2017
        <div class="custom-social-share" alignment="true">
          <div class="shareBtn faceb"></div>
          <div class="shareBtn twit"></div>
          <div class="shareBtn email"></div>
          <div class="shareBtn comment"></div>
          <div class="shareBtn reprints"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-9 col col-md-offset-0" alignment="true">
      <div class="dropBox"><span class="dropCapFirst">I</span></div>
      <p><span class="firstp">orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissim vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit amet        ullamcorper lorem consectetur. nec at nunc. Nunc placerat placerat rhoncus.</span></p>
    </div>
  </div>
</div> -->
<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2 topCol" alignment="true">

      <div class="dropBox"><span class="dropCapFirst">W</span></div>
      <p>hen the email about the mass grave from the man in Vietnam arrived in October, Bob Connor thought he'd really stepped in it this time. </p>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight">
        <img class="img-fluid" src="http://media.philly.com/images/RS_825x550_20170911_PVIETNAM01_e_412384988.JPG" width="100%" />
        <div class="containerPhotoCredit" alignment="true">DAVID SWANSON / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">Bob Connor, a Vietnam veteran who is helping the Vietnamese government identify mass graves of their soldiers killed during the Vietnam War. </div>
      </div>
      <p>"I damn near sh--," said Connor, 70, of Maple Shade, N.J. "I thought 'What did you do, you idiot? Holy sh-- this unusual!'"</p>


      <p>A question from Connor's granddaughter for a school project about the Vietnam War led him to search Google Earth for Bien Hoa Air Force Base in Vietnam, where he served from 1967 to 1968 as a sergeant with the U.S. Air Force Security Forces. </p>
      <p>Using a now-defunct service called Panaramio which allowed users to augment Google Earth with personal photos, Connor left a comment – and his email address – on one of the photos of Bien Hoa.</p>
      <p>"Significant battle took place here at the start of the Tet Offensive '68," he wrote. "Those VC [Viet Cong] killed had to be buried in a mass grave at the end of the runway."</p>
      <p>Ten days later, the email arrived, lighting up his inbox like a flamethrower. </p>
      <p>It was from Che Trung Hieu, a 70-year-old retired Vietnam People's Army veteran – a man who, during the war, would have been considered Connor's enemy.</p>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight">
        <img class="img-fluid" src="https://web.archive.org/web/20161017011447im_/http://static.panoramio.com/photos/large/47922312.jpg" width="100%" />
        <div class="containerPhotoCredit" alignment="true"><a href="https://web.archive.org/web/20161017011447/http:/www.panoramio.com/photo/47922312">Panormaio (archived)</a></div>
        <div class="containerPhotoCaption" alignment="true">The photo Bob Connor posted using Panoramio along with his comment: "As you look up the road where it makes a hard right. At that intersection is where the 3rd Security Police manned Bunker Hill 10. Significant battle took place here at the start
          of the Tet Offensive '68. Those VC killed had to buried in a mass grave at the end of the runway. From Nov '67 til about 1/3/68 I worked nights atop the base water tower (aka Delta 18) near the BX. I would spot the mortar and rocket flashes
          as the incoming start. The base siren would be set off giving those sleeping about 7 seconds to wake up and get to a bunker. Sgt. Bob Connor, 3rd Security Police Sq., 4/5/67 - 4/5/68."</div>
      </div>
      <p>"He said he saw my comment and he's telling me he's very excited to hear about the grave because they knew nothing about it," Connor said. "So he's in shock and I'm in shock and he says 'The colonel will be in touch with you.'"</p>

      <p>Che, who shared his story with the Inquirer and Daily News via email from his home in Hai Phong City, Vietnam, said after reading Connor's post he contacted Vietnam People's Army Col. Mai Xuan Chien, deputy political commissar of the military command
        in Dong Nai Province, where Bien Hoa is located. On Oct. 20, the colonel wrote to Connor.</p>
      <p>"[W]hen we knowing that you have some information related to the mass grave … at Bien Hoa Air Base we are so glad because over 40 past years we have so many times searched and excavated along the perimeter of Bien Hoa air Base but we didn't find
        any of the mass graves," Mai wrote. "…would you please contact other veterans to give us more specific information…" <span class="letter-click" data-featherlight=".letters">Click to read the entire letter.</span></p>


      <img class="letters" src="http://media.philly.com/images/RS_x_20170911_pvietnam_Col_Chien_1_of_2.png" />
      <img class="letters" src="http://media.philly.com/images/RS_x_20170911_pvietnam_Col_Chien_2_of_2.png" />
      <img class="dod" src="http://media.philly.com/images/DOD+Letter05052017.jpg" />
      <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
        <div class="adUnit" alignment="true">
          <div id="div-gpt-ad-mrec-21" alignment="true">
            <script alignment="true" type="text/javascript">
              // <![CDATA[
              cX.callQueue.push(['invoke', function() {
                googletag.cmd.push(function() {
                  googletag.display('div-gpt-ad-mrec-21');
                });
              }]);
              // ]]>
            </script>
          </div>
        </div>
      </div>
      <p>What began as a simple post on Google Earth lead Connor and his former commanding officer, retired Air Force Col. Martin Strones, of Knoxville, Tenn., back to Vietnam this year to help uncover a mass grave of previously unaccounted for Viet Cong
        and North Vietnamese Army soldiers. </p>

      <p>Because of their efforts, 72 families in Vietnam finally received answers – and peace – after almost 50 years.</p>


      <p>Now Connor, who came back from the war in 1968 believing he hadn't made a damn bit of difference, has a renewed sense of purpose – and a new mission: To urge other U.S. veterans who have information about mass graves of Vietnamese soldiers to come
        forward.
      </p>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right hangRight">
        <div class="inner-container">
          <img class="img-fluid imageFrame" id="imageStack-1" src="http://media.philly.com/images/RS_650x433_20170911_PVIETNAM24_d.jpg" alt="" width="100%/">
          <img class="img-fluid imageFrame" id="imageStack-2" src="http://media.philly.com/images/RS_650x433_20170911_PVIETNAM24_b.jpg" alt="" width="100%/">
        </div>
        <div class="containerPhotoCredit" alignment="true">Courtesy of Bob Connor.</div>
        <div class="containerPhotoCaption" alignment="true">Top: U.S. Air Force Sgt. Bob Connor, second from left, with his fellow U.S. Air Force Security Forces comrades at Bien Hoa Air Force Base in Vietnam in 1967.<br>Bottom: Sgt. Bob Connor carries a flare chute outside of the barracks.</div>
      </div>
      <p>"For those who have seen grotesque war atrocities, that's a hard pill to swallow. I admit that," he said. "They need to break away from that last thought of the guy who died beside them and think of the families in Vietnam that deserve closure."</p>


      <p>In Vietnam, soldiers who die in war but remain unaccounted for are referred to as martyrs. Their spirits are believed to wander between this world and the next until their bodies are found, identified and properly entombed. Only then can they be
        called heroes.</p>
      <p>While 1,603 Americans remain unaccounted for in Vietnam, the Vietnamese government estimates more than 300,000 of its people remain missing because of what they call the American War. Lack of technology, money and information have all played a role
        in the delayed recovery of Vietnam's war dead.</p>

      <p>Connor thought it strange that people in Vietnam would put so much faith in his word alone, but being a man of honor, it was not an honor he took lightly.</p>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight">
        <div class="sidebar-container">
          <a target="_blank" href="#">
            <img style="opacity: 0.6;" src="http://media.philly.com/images/vietnam-map-tet_offensive-04.png" width="100%">
            <h3>What was the Tet Offensive?</h3>
            <p>The Tet Offensive launched on January 20, 1968 and was one of the largest military campaigns in the. It consisted of a series of surprise attacks by the Viet Cong throughout South Vietnam.</p>
            <p>Click here to learn more about the Tet Offensive and Bien Hoa's role in the battle. <span class="glyphicon glyphicon-new-window"></span></p>
          </a>
        </div>
      </div>
      <p>He scoured the Internet for other veterans who had information about the mass grave at Bien Hoa, or any other mass graves in Vietnam. Connor posted on military Facebook pages and message boards, he sent emails and contacted website administrators.</p>

      <p>Many times, he never received a response, and even when he did, not everyone was eager to help.</p>
      <p>"Let those stinking commies lay where they are," one Vietnam veteran wrote back to Connor. "I won the nation's 5th highest award for heroism….and killed as many of those commies as I could."</p>
      <p>Connor's unlikely mission seemed to hit blockades at every turn until one veteran put him in contact with retired U.S. Air Force Security Forces Col. Martin Strones, who was a captain at Bien Hoa during the Tet Offensive battle and was awarded the
        Silver Star for valor in combat.</p>

      <p>It was Strones who was assigned to count the enemy bodies on the base after the attack in 1968.</p>
      <p>"If you can imagine 150 bodies deteriorating rapidly in the sun, it's just a terrible stench – and then the animals start," he said. "It was almost impossible to breath out there because of the smell."</p>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight yt-outer">
        <div class="yt-container">
          <iframe class="yt-video" src="https://www.youtube.com/embed/mL8q4a6mEC0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="containerPhotoCredit" alignment="true">JARED WHALEN / Staff</div>
        <div class="containerPhotoCaption" alignment="true"><strong>Retired Sgt. Bob Connor</strong> describes his experience during the Tet Offensive at Bien Hoa Air Base, Vietnam.</div>
      </div>
      <p>Strones oversaw the gathering of the bodies, which were buried in an unmarked grave on the edge of the base.</p>
      <p>And then, he went on with his duties – and his life.</p>
      <p>"I never really dwelled on the mass grave," he said. "In fact, until Bob brought it up, I really hadn't thought about it."</p>
      <p> </p>
      <p>But Strones, 77, had thought about returning to Bien Hoa Air Base. Often.</p>
      <p>"I've wanted to go back for many, many years. I don't know if I can explain why to anybody who was not in the military," he said. "It's the same reason why people go back to Normandy."</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col col-md-offset-1">
      <img class="img-fluid" src="http://media.philly.com/images/RS_1200x800_20170911_PVIETNAM01_c_412440681.JPG" width="100%" />
      <div class="containerPhotoCredit" alignment="true">DAVID SWANSON / Staff Photographer</div>
      <div class="containerPhotoCaption" alignment="true">Retired Air Force Colonel Martin E. Strones at the Vietnam Veterans Memorial in Washington, D.C.</div>
    </div>
  </div>

  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <p>Strones spent 30 years in active and reserve-duty service with the U.S. Air Force and now runs a security consulting company, Strones Enterprises, Inc. He has tried to get back on Bien Hoa Air Base at least three times but was denied because the
        site is an active Vietnamese military installation. His last failed attempt was in October.</p>
      <p>In December, Strones received Connor's email, asking him to help locate the mass grave at Bien Hoa. Strones didn't hesitate to help.</p>
      <p>"I know some people are still bitter but we were doing what we were told. Some people are mad at the U.S. government for that and some people are mad at the Vietnamese for that," he said. "I understand, but you have to get by that bitterness. If
        I'd have lost a son, I'd want to know where he ended up."</p>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right hangRight">
        <img class="imageFrame" src="http://media.philly.com/images/RS_x_20170914_Vietnam13.JPG" width="100%" />
        <div class="containerPhotoCredit" alignment="true">Courtesy of Martin Strones</div>
        <div class="containerPhotoCaption" alignment="true">U.S. Air Force veteran Bob Connor, at left, People&#039;s Army of Vietnam Col. Mai Xuan Chien, center, and U.S. Air Force veteran Martin Strones, at right, in front of Bunker Hill 10 on Bien Hoa air base in Vietnam.</div>
      </div>
      <p>In March, Connor and Strones were invited to Vietnam by Mai and the Dong Nai Province People's Committee to help locate and identify the grave at Bien Hoa.</p>
      <p>"They paid for the hotel. They paid for the food, but they wouldn't pay for the liquor," Connor said, chuckling. </p>
      <p>Upon their first meeting, Mai - who was dressed in full uniform - saluted Strones and Connor. Through an interpreter, Mai made it clear that the Vietnamese hold no ill will toward U.S. veterans, Connor said.</p>

      <p>"He wanted us to know that they understand and respect what we had to do during the war," Connor said. "He didn't repeat it. He only said it once, but you had that feeling the entire time we were there with him."</p>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-left hangLeft">
        <img class="imageFrame" src="http://media.philly.com/images/RS_x_20170911_12._Photo_with_Colonel_Mai_Xuan_Chien_____Vice_Political_Commissar_of_Dong_Nai_Province_Military_Command_cum_Deputy_Head_of_Steering_C.jpg" width="100%" />
        <div class="containerPhotoCredit" alignment="true">Courtesy of Bob Connor</div>
        <div class="containerPhotoCaption" alignment="true">xxx</div>
      </div>
      <p>When Connor met Che, the author of the email that started it all, he was overcome with emotion.</p>

      <p>"It's a funny feeling when you're face to face with your enemy, completely," Connor said, fighting back tears. "The common thread between us was that the war was over and we were friends. We had just never met and we're meeting now for the very
        first time."</p>


      <p>Strones and Connor accompanied Mai and others to the base to try and locate the mass grave. The Deputy Prime Minister of Vietnam even came to meet the U.S. veterans and oversee the excavations.</p>
      <p>But after four days, Strones and Connor left Vietnam deflated, unable to pinpoint the grave.</p>
      <p>"I think they thought I could go right to the spot and say 'Dig here,'" Strones said. "But I had told them more than once 'I believe I can find it, but we didn't mark it and it's been 49 years.'"</p>
      <p>Connor was crestfallen.</p>
      <p> </p>
      <p>"I was frustrated and ticked off because we couldn't find the grave," he said. "But they weren't upset we couldn't find it."</p>
      <p>Even after Connor and Strones left, the Vietnamese kept digging and just a few weeks later, the mass grave at Bien Hoa was uncovered, said Dao Le Phuong, press and cultural attaché for the Vietnam Embassy in Washington, D.C.</p>
      <p>"It is confirmed that with the support of two American veterans, Bob Connor and Martin Strones, Viet Nam excavated and discovered mass graves of Vietnamese martyrs in Bien Hoa airport on April 13, 2017," Dao wrote in a statement to the Inquirer
        and Daily News.</p>

    </div>
  </div>
</div>{% include "partials/grave-map.html" %}
<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">


      <p>While the grave was believed to have contained 150 soldiers, the government was only able to identify and contact the family members of 72 of the martyrs, Che said. </p>
      <p>"The rest we will continue to contact and find out their families, but it is difficult because after 50 years of war many families are scattered," he said.</p>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col" alignment="true">
      <img class="img-fluid imageFrame" src="http://media.philly.com/images/RS_x_20170913_Vietnam7.jpg" width="100%" />
    </div>
    <div class="col-md-6 col" alignment="true">
      <img class="img-fluid imageFrame" src="http://media.philly.com/images/RS_1200x800_20170913_Vietnam14.JPG" width="100%" />
      <div class="containerPhotoCredit" alignment="true">Courtesy of Martin Strones</div>
      <div class="containerPhotoCaption" alignment="true">xxx</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <p>On July 12, a ceremony and reburial was held in Vietnam for the 72 martyrs who now, are wandering spirits no more. </p>
      <p>"The Memorial Service was so emotional, more than 1,500 attenders and Martyrs' Families from 23 provinces through the countries where the Martyrs lived before killed," Che said.</p>
      <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
        <div class="adUnit" alignment="true">
          <div id="div-gpt-ad-mrec-22" alignment="true">
            <script alignment="true" type="text/javascript">
              // <![CDATA[
              cX.callQueue.push(['invoke', function() {
                googletag.cmd.push(function() {
                  googletag.display('div-gpt-ad-mrec-22');
                });
              }]);
              // ]]>
            </script>
          </div>
        </div>
      </div>

      <p>Strones was moved by pictures and footage of the reburial.</p>

      <p>"To see those people standing with an 8-by-10 picture of their loved one, I'm so glad I was able to do that, to give them closure," he said. "People sent me emails saying 'God bless you for coming to Vietnam and helping us heal the wounds.'"</p>



      <p>U.S. Ambassador to Vietnam, Ted Osius, said laying the dead to rest is "an important part of healing deep wounds."</p>

      <p>"When people from both countries, who were once on opposite sides of the battlefield, are able to move on, become friends, and work together to pay respect to the fallen and bring a sense of closure to these families – that sends a powerful message,"
        he wrote in an email to the Inquirer and Daily News.</p>



    </div>
  </div>
</div>

<div class="container" alignment="true">
  <div class="row" alignment="true">
    <div alignment="true" class="col-md-offset-1 col-md-10">
      <div data-ride="carousel" class="carousel slide 444421423" id="carousel-one-generic" alignment="true">&nbsp;</div>
    </div>
  </div>
</div>


<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <p>Today, Strones continues to speak to military groups about this humanitarian mission, in part, to try and find others who may know about additional graves in Vietnam.</p>
      <p>Meanwhile, Connor spends up to four hours a day searching the internet for documentation on other mass graves and looking for witnesses who were present when mass graves were dug. He keeps all his notes in a three-ring binder with a mustard-yellow
        sheet of paper under the plastic cover that reads "Viet Nam."</p>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight">
        <div class="sidebar-container">
          <a href="">
            <!-- <img style="opacity: 0.6;" src="http://media.philly.com/images/vietnam-map-tet_offensive-04.png" width="100%"> -->
            <h3>Why is Vietnam so far behind in identifying remains?</h3>
            <p>...</p>
            <p>Click to learn more about ... <span class="glyphicon glyphicon-new-window"></span></p>
          </a>
        </div>
      </div>
      <p>Connor and Strones have provided information on the possible location of at least four other mass graves containing as many as 3,000 soldiers, though those sites have yet to be excavated, Che said.</p>
      <p> </p>
      <p>Along with veterans, Connor hopes the U.S. government will step up and provide information it may have on mass graves in Vietnam. Dao, of the Vietnamese Embassy, agreed and called the exchange of information "a profound humanitarian issue."</p>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight yt-outer">
        <div class="yt-container">
          <iframe class="yt-video" src="https://www.youtube.com/embed/b5eYNzkxXeY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="containerPhotoCredit" alignment="true">DAVID SWANSON / Staff Photographer </div>
        <div class="containerPhotoCaption" alignment="true"><strong>Retired Col. Martin Strones</strong> talks about making peace with former enemies and helping them find closure.</div>
      </div>
      <p>"Continued cooperation between the two countries on these humanitarian issues serve the interest and wishes of our two people and help deepen our ties and relations," he said.</p>
      <p>The Department of Defense directed all inquiries about Connor and Strones' mission to the Defense POW/MIA Accounting Agency.</p>
      <p>POW/MIA spokesman Lee Tucker said in an email that while POW/MIA is aware of Connor and Strones' endeavor and is "supportive of the mission from a humanitarian perspective," it takes no position regarding it. <span class="letter-click" data-featherlight=".dod">Click to read DOD's response regarding the cooperation.</span></p>
      <p>"It is important to remember these are efforts by veterans acting on their own," he wrote.</p>

    </div>
  </div>
</div>

<div class="container-fluid sourcebox" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2 topCol" alignment="true">
      <div>
        <h4>CREDITS</h4>
        <p>Reporter: Stephanie Farr<br> Editor: Jessica Parks<br> Visuals editor: Frank Wiese<br> Design and graphics: Jared Whalen<br> Project Manager: Ellen Dunkel<br> Video: David Swanson, Jared Whalen<br> Photography: David Swanson<br>
          <!-- Copy editors: Richard Barron, Bob Kelley<br>
          Photo editor: Michael Mercanti<br>
          Social editor: Ray Boyd</p> -->
      </div>
    </div>
  </div>
</div>

<div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-2">
    <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
  </div>
</div>
